.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: 250px;
  flex:1; 
	background: linear-gradient(0deg, #000, #272727);
}

.featuredItem:before, .featuredItem:after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
  border-radius: 10px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}
/*
@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
} 
*/

.featuredItem:after {
	filter: blur(50px);
}


.featuredImg{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}